<html>
<body>
<table border=1>
  <tr>
    <td>calls</td>
    <td>time</td>
    <td></td>
  </tr>
  <% @lines.each do |line| %>
    <tr>
      <td><%= line.calls %></td>
      <td><%= "%.1fms" % line.total_wall_time %></td>
      <td><%= line.code %></td>
    </tr>
  <% end %>
  </tr>
</table>
created at <%= Time.now %>
</body>
</html>
